/* OFFICE TECHNOLOGY WEBCONTENT PAGES */

/* Files: */
/* office_excel.html, office_word.html */


/* Action(s) */
/* Formats body of webpage */
body {
    font-family: sans-serif;
    background-color: #221900;
    color: white;
  }

/* Action(s) */
/* makes flex container */
main {
    display: flex;
    justify-content: center;
    align-items: top;
    padding-top: 0.5em;
    background-color: inherit;
  }
  
  /* Action(s) */
  /* styles page title */
  .office-page-title {
    text-align: center;
    font-size: 150%;
    font-weight: bold;
    color: red;
  }
  
  /* Action(s) */
  /* Styles a element font color to match webpage */
  .dictionary-container {
    list-style-type: none;
    padding: 1em;
    border-radius: 0.25em;
  }
  
  /* Action(s) */
  /* sets all children in the dictionary container */
  /* main-axis direction creates rows (left to right) */
  .dictionary-item {
    display: flex;
    padding: 1em 0.5em;
  }
  
  /* Action(s) */
  /* adds a styling line between child */
  .dictionary-item:not(:last-child) {
    border-bottom: 1px solid #ccc;
  }
  
  /* Action(s) */
  /* formats the video div */
  .dictionary-video {
    flex-shrink: 0;
  }
  
  /* Action(s)s */
  /* formats the text associated with each video */
  .dictionary-entry {
    flex-grow: 1;
    padding-left: 1em;
    color: white;
  }
  
  /* Action(s) */
  /* formats the page layout container */
  #page-container {
    position: relative;
    min-height: 100vh;
  }
  
  /* Action(s) */
  /* ensures the footer is visible at the bottom */
  #content-wrap {
    padding-bottom: 2.5rem; /* Footer height */
  }
  
  #footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem; /* Footer height */
  }
  