/* Action(s) */
/* Formats body of webpage */
body {
  font-family: sans-serif;
  background-color: #221900;
  color: white;
}

/* Action(s) */
main {
  display: block;
}

/* Action(s) */
/* styles page title */
.office-page-title {
  text-align: center;
  font-size: 150%;
  font-weight: bold;
  color: red;
  margin-bottom: 1rem;
}

/* Action(s)s */
/* formats the text associated with each video */
/* .dictionary-entry {
  display: block;
  padding-left: 1em;
  margin-left: auto;
  margin-right: auto;
  width: auto;
} */
.dictionary-entry {

  display: block;
  color: inherit;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 1rem;
  width: auto;
  height: auto;
  overflow: hidden;
}

/* Creates a horizontal line break between videos */
hr {
  border: 0;
  clear: both;
  display: block;
  width: 90%;
  background-color: white;
  height: 1px;
}
