/* OFFICETECH.HTM LANDING PAGE */
/* Action(s) */
/* Formats body of webpage */
body {
  font-family: sans-serif;
  background-color: #221900;
  color: white;
}

/* Action(s) */
/* styles page title */
.office-page-title {
  text-align: center;
  font-size: 150%;
  font-weight: bold;
  color: red;
}

/* Action(s) */
/* Styles the office tech section that contains the microsoft thumbnail index */
.officetech {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  text-align: center;
  width: 250px;
}

/* Action(s) */
/* Styles a element font color to match webpage */ 
.officetech > a {
  color: inherit;
}