/* OFFICETECH.HTM LANDING PAGE */
/* Action(s) */
/* Formats body of webpage */
body {
  font-family: sans-serif;
  background-color: #221900;
  color: white;
}

/* Action(s) */
/* makes flex container */
/* used to be main */
/* .main {
  display: flex;
  justify-content: center;
  align-items: top;
  padding-top: 0.5em;
} */

/* Action(s) */
/* styles page title */
.office-page-title {
  text-align: center;
  font-size: 150%;
  font-weight: bold;
  color: red;
}

/* Action(s) */
/* creates 2x2 grid for landing page in this section */
.officetech-container {
  display: flex;
  justify-content: center;
  align-items: top;
  padding-top: 0.5em;
  margin: 20px auto;
  /* width: 400px; */
  width: auto;
  height: auto;
  display: grid;
  grid-template-columns: 200px 200px;
  grid-row: auto auto;
  grid-column-gap: 60px;
  grid-row-gap: 60px;
}

/* Action(s) */
/* Styles a element font color to match webpage */
.officetech-container a {
  color: inherit;
  margin-bottom: 5px;
}

