/* OFFICE TECH NAVIGATION BAR */
/* The Navigation Bar: Office Technology */

nav,
nav.office-tech {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto%;
  background-color: #221900;
  color: white;
}

nav.office-tech > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Action(s) */
/* background color and padding */
nav.office-tech li {
  float: left;
  padding: -0.25em .5em;
  background-color: #221900;
}

nav.office-tech > ul > li > a {
  color: white;
  display: block;
  text-align: center;
  padding: 0.25em;
  text-decoration: none;
}

/* Action(s) */
/* adds responsive background color */
a.office-cat:hover {
  background-color: red;
  text-decoration: underline;
}