folders/ds_blogs/projects/network_analysis/maternal_network/data/inputs/raw/
*.DS_Store
.ipynb_checkpoints/
folders/ds_blogs/projects/job_posting_resume_optimizer/data/inputs/resume_raw_inputs/goodrx/academic_collaborations/*.zip
folders/ds_blogs/projects/smarterdx_documentation_gap/data/raw/POS_File_QIES_Q4_2025.csv
