folders/ds_blogs/projects/network_analysis/maternal_network/data/inputs/raw/
*.DS_Store
.ipynb_checkpoints/
folders/ds_blogs/projects/job_posting_resume_optimizer/data/inputs/resume_raw_inputs/goodrx/academic_collaborations/*.zip
folders/ds_blogs/projects/smarterdx_documentation_gap/data/raw/POS_File_QIES_Q4_2025.csv

# Files over 100MB (GitHub limit)
folders/ds_blogs/projects/network_analysis/maternal_network/data/inputs/raw/cms_shared_patient/pspp2015_60.csv
folders/ds_blogs/projects/network_analysis/maternal_network/data/inputs/raw/nppes/npidata_pfile_20050523-20260208.csv
folders/ds_blogs/projects/job_posting_resume_optimizer/data/inputs/resume_raw_inputs/goodrx/academic_collaborations/cardiology_desert-20260303T030710Z-1-001.zip
folders/ds_blogs/projects/loanDefaultPrediction/data/outputs/decision_tree/decision_boundary_2d.html
folders/ds_blogs/projects/loanDefaultPrediction/notebooks/models/06_decision_tree.ipynb
folders/ds_blogs/projects/loanDefaultPrediction/notebooks/models/.ipynb_checkpoints/06_decision_tree-checkpoint.ipynb
folders/ds_blogs/projects/smarterdx_documentation_gap/data/raw/POS_File_QIES_Q4_2025.csv
