/* Action(s) */
.title {
  margin-bottom: 30px;
  text-align: center;
  font-weight: bold;   
}

/* Action(s) */
.sub-container {
display: flex;
justify-content: left;
}


/* BACKGROUND STYLE */
/* BACKGROUND STYLE */
/* BACKGROUND STYLE */

/* Action(s) */
/* Sets image and caption */
.resources,
.background-img-caption {
margin-left: 1rem;
text-align: left;
}

/* Formats the pictures in the background panel */
.background-pic {
display: block;
margin-left: auto;
margin-right: auto;
width: 50;
height: 50;
}

/* formats the subtitle header */
.sub-title > h4 {
font-size: 14px;
font-weight: bold;
}

/* Formats the text margin */
.general-p,
.background-info-list {
margin-top: -1rem;
}


/* Action(s) */
/* Styles a element font color to match webpage */
.background-panel {
color: inherit;
margin-bottom: 5px;
margin-right: 5px;
height: auto;
padding-right: 20px;
padding-top: 20px;
padding-left: 20px;
overflow:hidden;
width:auto;
}

/* Formats the main picture in the content panel */
.main-pic {
display: block;
margin-left: auto;
margin-right: auto;
width: auto;
margin-bottom: 1rem;
}

/* MAIN CONTENT STYLE */
/* MAIN CONTENT STYLE */
/* MAIN CONTENT STYLE */

/* Action(s) */
/* Styles a element font color to match webpage */
.sub-section {
color: inherit;
margin-bottom: 5px;
margin-right: 5px;
height: auto;
padding-right: 20px;
padding-top: 20px;
padding-left: 20px;
/* overflow:hidden; */

/* Add the right border */
border-left: solid;
}

/* Main section caption */
.caption {
text-align: center;
font-weight: bold;
font-size: 22px;
}


.sub-entry {
  padding-top: 10px;
  font-size: 14px;
  margin-left: 1rem;
}

.sub-entry-header {
  margin-bottom: -5px;
}
.sub-entry-header h4 {
font-weight:bold;
}