.btn:hover {
  background-color: #DC143C;
}

body {
  margin: 0;
  padding: 0;
  background: #C0C0C0;
}

/* File: ALL */
/* To keep page properly formatted */
#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}

.title {
    margin-bottom: 30px;
}

/* Action(s) */
.sub-container {
    display: flex;
    justify-content: center;
    align-items: space-between;
}

/* Action(s) */
/* Styles a element font color to match webpage */
.sub-image-thumbnail {
  color: inherit;
  margin-bottom: 5px;
  margin-right: 10px;
  max-width: 100%;
  height: auto;
  padding-right: 30px;
}

.caption {
  text-align: center;
  font-weight: bold;
}

.sub-entry {
    padding-top: 15px;
    font-size: 14px;
}

.sub-entry-header {
    /* margin-left: 10px; */
    margin-bottom: -10px;
}