footer {
    padding-bottom: .25em 1em;
    background-color:#333;
    color: white;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}
footer:hover {
    background-color: red
}

footer a{
    color: white;
}

#date {
    color: w;
    font-size: 12px;
    margin:0;
}

.footer {
    display: inline-block;
    vertical-align: top;
}