/* structures all pages so that the footer remains at the bottom */
#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5em; /* Footer height */
}

/* Footer CSS styling */

/* Places the position, width, and height */
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2em; /* Footer height */
  background-color: #333;
  text-align: center;
  color: white;
}


/* Styles the ul elements with background color, inline, and no bullet points*/
.footer-class {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #333;
}

/* Sets the list elements position and padding */
.footer-class li {
  float: left;
  padding-right: .6em;
}

/* Add the responsive hover element */
#footer:hover li,
#footer:hover {
  background-color: red;
}

/* Adjust the  */
#footer-info {
  color: white;
  font-size: 14px;
  margin: 0;
}
