/* Alternates the color of each row */
tr:nth-child(even){background-color: #f2f2f2}

/* Sets the table row width */
tr {
  width: auto;
}

/* Event styling, changes fill color when mouse hovers over row */
tr:hover {background-color:gold;}

/* Styles header row */
th {
  background-color: #A9A9A9;
  color: black;
  width: 250px;
  font-family: 'Franklin Gothic Medium', 'Arial', Arial, sans-serif;
  font-size: 14px;
  text-align:center;
  vertical-align: middle;
}

/* Styles the data in each cell */
td {
  width: 250px;
  font-family: 'Franklin Gothic Medium', 'Arial', Arial, sans-serif;
  font-size: 14px;
  padding-left: 2px;
  text-align:center;
  vertical-align: middle;
}

/* Styles the table borders so that its a single and not a double line */
/* Centers the table */
table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}


/* Table border styling */
/* Color and size */
table, td, th {
  border: 1px solid black;
}

/* Centers the page header */
#header {
  text-align: center;
}