tr:nth-child(even){background-color: #f2f2f2}

tr {
  width: auto;
}

tr:hover {background-color:gold;}

th {
  background-color: #A9A9A9;
  color: black;
  width: 250px;
  font-family: 'Franklin Gothic Medium', 'Arial', Arial, sans-serif;
  font-size: 14px;
}

td {
  width: 250px;
  font-family: 'Franklin Gothic Medium', 'Arial', Arial, sans-serif;
  font-size: 14px;
  padding-left: 2px;
}

table {
  border-collapse: collapse;
}

table, td, th {
  border: 1px solid black;
}

#change {
  color: red;
  text-decoration: underline;
}

a:hover {
  text-decoration: underline;
  color: blue;
}

a {
  color : blue;
}

#header {
  background-color: maroon;
  height: 250px;
  padding: 10px;
  display: flex;
}

img {
  background-size: contain;
  display: block;
  max-width: 40%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}

#container {
  padding: 2px;
}

#comment {
  color: red;
  font-size: 18px;
  text-align: center;
}

table {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}