/* FILES */
/* index.html, about.html */
body {
  font-family: sans-serif;
  color: black;
}


ul.general-ul {
  list-style-type: disc;
  font-family: sans-serif;
  background-color: white;
  list-style-position: inside;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-bottom: -5px;
}

/* reduces the white space between .title h1 and .title h3 */
.title h1 {
  margin-bottom: -5px;
}

/* Reduces margin between p and div blocks */
.general-p {
  margin-top: -5px;
}

/* File ABOUT.HTML */
#about {
  color: red;
}

