/* FILES */
/* index.html, about.html */
body {
  font-family: sans-serif;
  color: black;
}

ul.general-ul {
  list-style-type: disc;
  font-family: sans-serif;
  background-color: white;
  list-style-position: inside;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-bottom: -5px;
}

/* reduces the white space between .title h1 and .title h3 */
.title h1 {
  margin-top: 1rem;
  margin-bottom: -5px;
}

.date_updated > p {
  margin-left: 2rem;
}

/* Reduces margin between p and div blocks */
.general-p {
  margin-top: 10px;
  padding: 10px;
}

/* File ABOUT.HTML */
#about {
  color: red;
}

/* File: ALL */
/* To keep page properly formatted */
#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}

.new-content {
  margin-top: 10px;
  padding: 10px;
  width: 100px;
  height: 50px;
  border:1px solid black;
}

.content-headers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-bottom: -5px;
}

/* Format pictures to be responsive to screen size */

.post-pic,
.pic {
  height: 50%;
  width: 50%;
  object-fit: contain;
}

/* Styles the table of contents area */
.table_of_contents {
  border: solid;
  width: 50%;
  /* display:block; */
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* Format sub-header in content section */
.general-p-header {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

/* Create a bootstrap grid 2x2 */
.grid_4 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Makes image responsive to the screen size */
.grid-pic,
.shell,
.background-pic,
.main-pic {
  max-width:100%;
  height:auto;
  max-height:100%;
}

.grid-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50;
  height: 50;
}

.sec-div {
  border: 2px solid black;
}

.background-info-list > ul {
  margin-top: 20px;
}