<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>HTML Hack - Keep Footer @ Base</title>
    <link rel="stylesheet" type="text/css" href='../static/css/theme.css' )>
    <link rel="stylesheet" type="text/css" href='../static/css/nav.css' )>
    <link rel="stylesheet" type="text/css" href='../static/css/footer.css' )>
    <link rel="stylesheet" type="text/css" href='../static/css/add_footer.css' )>
</head>

<body>
    <div w3-include-html="../templates/navbar-body.html"></div>


    <div id="page-container">
        <div id="content-wrap">
            <div class="title">
                <h1>Keep Footer at Bottom of Webpage</h1>
            </div>
            <div class="content">
                The <b>footer</b> defines the end of a web page (or section), and typically contains copyright
                information,
                contact details, navigation links, etc.
            </div>
            <hr>

            <main class="sub-container">
                <div class="sub-image-thumbnail">
                    <figcaption class="caption">Proper Footer Placement</figcaption>
                    <a href="html.html" target="_blank">
                        <img src="../static/media/images/good_footer.png" alt="html" width="250" height="350">
                    </a>
                </div>
                <div class="sub-image-thumbnail">
                    <figcaption class="caption">Incorrect Footer Placement</figcaption>
                    <a href="html.html" target="_blank">
                        <img src="../static/media/images/bad-footer.png" alt="html" width="250" height="350">
                    </a>
                </div>
            </main>
            <hr>
            <div class="title">
                <h1>How to ensure proper footer placement</h1>
            </div>
            <div class="sub-title">
                <h3>Step 1: Use this as your template.html</h3>
            </div>

            <div class="code-block-dictionary">
                <pre class="code-block">
                    <code>
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
    &lt;link rel="stylesheet" type="text/css" href="main.css" /&gt;
&lt;/head&gt;

&lt;body&gt;
    &lt;div id="page-container"&gt;
        &lt;div id="content-wrap"&gt;
            &lt;!-- all other page content --&gt;
        &lt;/div&gt;
    
        &lt;footer id="footer"&gt;&lt;/footer&gt;
    &lt;/div&gt;
&lt;/body&gt;

&lt;/html&gt;
                    </code>
              </pre>
            </div>

            <div class="sub-title">
                <h3>Step 2: Use this as your template.css</h3>
            </div>
            <div class="code-block-dictionary">
                <pre class="code-block">
            <code>
#page-container {
    position: relative;
    min-height: 100vh;
}   
#content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
}
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
}
                </code>
            </pre>
            </div>
            <div class="sub-title">
                    <h3>Step 3: Add your content, and you're done.</h3>
                </div>
                <hr>
    <div class="resources">
            <div class="sub-title">
                    <h3>Resources</h3>
                </div>
        <ul class="resources-ul">
            <li><a href="https://www.w3schools.com/howto/howto_css_fixed_footer.asp" class="resource">w3schools.com</a></li>
            <li><a href="https://www.freecodecamp.org/news/how-to-keep-your-footer-where-it-belongs-59c6aa05c59c/" class="resource">freecodecamp.org</a></li>
        </ul>
    </div>

        </div>
        <div w3-include-html="../templates/footer.html"></div>
    </div>

    <script type="text/javascript" src="../static/js/include.js"></script>
</body>

</html>