<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>BS - Excel Tips</title>
    <link rel="stylesheet" type="text/css" href='../static/css/index.css' )>
</head>
<link rel="stylesheet" type="text/css" href='../static/css/officetech.css' )>
</head>
<link rel="stylesheet" type="text/css" href='../static/css/footer.css' )>

<body>

    <div id="page-container">
        <div id="content-wrap">
            <div w3-include-html="navbar-body.html"></div>
            <section>
                <div w3-include-html="officetech_nav.html"></div>
                <div class="office-page-title">Microsoft Excel</div>
                <main>
                    <ul class="dictionary-container">
                        <li class="dictionary-item">
                            <div class="dictionary-video">
                                <iframe width="420" height="345" src="https://www.youtube.com/embed/oyBA12NQRzY">
                                </iframe>
                            </div>
                            <div class="dictionary-entry">
                                <h4>Make numbers negative using excel's copy and paste feature</h4>
                                <ul>
                                    <li>Step 1: Type in number you want to multiply.</li>
                                    <li>Step 2: Copy cell.</li>
                                    <li>Step 3: Select cells you want to multiply.</li>
                                    <li>Step 4: Over selected cells, right click mouse or control + mouse click.</li>
                                    <li>Step 5: Select "Paste Special" from popup.</li>
                                    <li>Step 6: Select "Paste Special..." from dropdown menu</li>
                                    <li>Step 7: Select "Multiply" under the "Operations" group </li>
                                    <li>Step 8: Click Ok</li>
                                    <li>All numbers selected are multiplied by the value you copied.</li>
                                </ul>
                            </div>
                        </li>
                        <li class="dictionary-item">
                            <div class="dictionary-video">
                                <iframe width="420" height="345" src="https://www.youtube.com/embed/y2kJgv85M5Y">
                                </iframe>
                            </div>
                            <div class="dictionary-entry">
                                <h4>Change font color for negative values in excel</h4>
                                <ul>
                                    <li>Step 1: Select cells of interest</li>
                                    <li>Step 2: Select Conditional Formatting in Home Ribbon, in Styles Group</li>
                                    <li>Step 3: Select "New Rule" from drop down.</li>
                                    <li>Step 4: Select "Classic" from Styles drown down menu.</li>
                                    <li>Step 5: Select "Format cells that contain"</li>
                                    <li>Step 6: Change "Specific Text" to "Cell Value"</li>
                                    <li>Step 7: Change "Between" to "Less Than"</li>
                                    <li>Step 8: Add "0"</li>
                                    <li>Step 9: In "Format with" drop down menu, select "Red Text"</li>
                                    <li>Step 10: Click OK</li>
                                </ul>
                            </div>
                        </li>
                        <li class="dictionary-item">
                            <div class="dictionary-video">
                                <iframe width="420" height="345" src="https://www.youtube.com/embed/EuPY1yaYx0Y">
                                </iframe>
                            </div>
                            <div class="dictionary-entry">
                                <h4>Keyboard Shortcut to Select All Continous Cells with Data</h4>
                                <ul>
                                    <li>Tip to select all continuous cells with data.</li>
                                    <li>Step 1: Click on the upper right cell.</li>
                                    <li>Step 2: To select all the continuous cells with data down a column.</li>
                                    <li>Shift + Command + Down Arrow</li>
                                    <li>Step 3: To then select all the continuous cells with data across columns</li>
                                    <li>Shift + Command + Right Arrow</li>
                                </ul>
                            </div>
                        </li>
                        <li class="dictionary-item">
                            <div class="dictionary-video">
                                <iframe width="420" height="345" src="https://www.youtube.com/embed/r8vJ9c598Yc">
                                </iframe>
                            </div>
                            <div class="dictionary-entry">
                                <h4>Insert Pivot Table Chart</h4>
                                <ul>
                                    <li>Insert an Excel Pivot Table Chart</li>
                                    <li>Step 1: Select all data in worksheet</li>
                                    <li>PC: Ctrl + a</li>
                                    <li>Mac: Command + a</li>
                                    <li>Step 2: Select Insert Tab in Ribbon</li>
                                    <li>Step 3: In Charts Group, Select PivotChart</li>
                                </ul>
                            </div>
                        </li>






                    </ul>
                </main>
            </section>
        </div>
        <div w3-include-html="../templates/footer.html"></div>
    </div>
    <script type="text/javascript" src="../static/js/include.js"></script>
</body>

</html>