<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title>BS - Office Technology</title>
<link rel="stylesheet" type="text/css" href='../static/css/index.css')></head>
<link rel="stylesheet" type="text/css" href='../static/css/officetech.css')></head>
<link rel="stylesheet" type="text/css" href='../static/css/footer.css')>

<body>
<div w3-include-html="navbar-body.html"></div>
<section>
    <div w3-include-html="officetech_nav.html">
    </div>
    
    <div class="office-tech-description">
            <p>Video Tutorials by Office Technology</p>
    </div>
    <main class="officetech-container">
        <div class="officetech-image-thumbnail">
        <a href="officetech_word.html" target="_blank">
        <img src="../static/media/images/word.svg" alt="microsoft word" width="200" height="200" >Microsoft word
        </a>
        </div>
        <div class="officetech-image-thumbnail">
        <a href="officetech_excel.html" target="_blank">
        <img src="../static/media/images/excel.svg" alt="microsoft excel" width="200" height="200" >Microsoft Excel
        </a>
        </div>
        <div class="officetech-image-thumbnail">
        <a href="officetech_powerpoint.html" target="_blank">
        <img src="../static/media/images/powerpoint.svg" alt="microsoft powerpoint" width="200" height="200" >Microsoft PowerPoint
        </a>
        </div>
        <div class="officetech-image-thumbnail">
        <a href="officetech_outlook.html" target="_blank">
        <img src="../static/media/images/outlook.svg" alt="microsoft outlook" width="200" height="200" >Microsoft Outlook
        </a>
        </div>
    </main>

</section>

<div w3-include-html="../templates/footer.html"></div>
<script type="text/javascript" src="../static/js/include.js"></script>
</body>
</html>