<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title>BS - Office Technology</title>
<link rel="stylesheet" type="text/css" href='../static/css/index.css')></head>
<link rel="stylesheet" type="text/css" href='../static/css/officetech.css')></head>
<link rel="stylesheet" type="text/css" href='../static/css/footer.css')>

<body>
<div w3-include-html="navbar-body.html"></div>

<section>
    <nav class="office-tech">
        <ul>
            <li><a href="#" class="office-cat">Word</a></li>
            <li><a href="#" class="office-cat">Excel</a></li>
            <li><a href="#" class="office-cat">Power Point</a></li>
            <li><a href="#" class="office-cat">Outlook</a></li>
        </ul>
    </nav>
    <main>
        <iframe width="420" height="345" src="https://www.youtube.com/embed/zCB_f05JlbQ">
        </iframe>
        <iframe width="420" height="345" src="https://www.youtube.com/embed/S1YBZnHFrhI">
        </iframe>
    </main>
</section>

<div w3-include-html="../templates/footer.html"></div>
<script type="text/javascript" src="../static/js/include.js"></script>
</body>
</html>