<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>BS - Excel Tips</title>
    <link rel="stylesheet" type="text/css" href='../static/css/nav.css' )>
</head>
<link rel="stylesheet" type="text/css" href='../static/css/officetech.css' )>
</head>
<link rel="stylesheet" type="text/css" href='../static/css/footer.css' )>

<body>

    <div id="page-container">
        <div id="content-wrap">
            <div w3-include-html="navbar-body.html"></div>
            <section>
                <div w3-include-html="officetech_nav.html"></div>
                <div class="office-page-title">Microsoft Excel</div>
                <main>
                    <ul class="dictionary-container">
                        <li class="dictionary-item">
                            <div class="dictionary-video">
                                <iframe width="420" height="345" src="https://www.youtube.com/embed/oyBA12NQRzY">
                                </iframe>
                            </div>
                            <div class="dictionary-entry">
                                <h4>Make numbers negative using excel's copy and paste feature</h4>
                                <ul class="dict-entry-list">
                                    <li>Step 1: Type in number you want to multiply.</li><br>
                                    <li>Step 2: Copy cell.</li><br>
                                    <li>Step 3: Select cells you want to multiply.</li><br>
                                    <li>Step 4: Over selected cells, right click mouse or control + mouse click.</li>
                                    <br>
                                    <li>Step 5: Select "Paste Special" from popup.</li><br>
                                    <li>Step 6: Select "Paste Special..." from dropdown menu</li><br>
                                    <li>Step 7: Select "Multiply" under the "Operations" group </li><br>
                                    <li>Step 8: Click Ok</li><br>
                                    <li>All numbers selected are multiplied by the value you copied.</li><br>
                                </ul>
                            </div>
                        </li><br>
                        <li class="dictionary-item">
                            <div class="dictionary-video">
                                <iframe width="420" height="345" src="https://www.youtube.com/embed/y2kJgv85M5Y">
                                </iframe>
                            </div>
                            <div class="dictionary-entry">
                                <h4>Change font color for negative values in excel</h4>
                                <ul class="dict-entry-list">
                                    <li>Step 1: Select cells of interest</li><br>
                                    <li>Step 2: Select Conditional Formatting in Home Ribbon, in Styles Group</li><br>
                                    <li>Step 3: Select "New Rule" from drop down.</li><br>
                                    <li>Step 4: Select "Classic" from Styles drown down menu.</li><br>
                                    <li>Step 5: Select "Format cells that contain"</li><br>
                                    <li>Step 6: Change "Specific Text" to "Cell Value"</li><br>
                                    <li>Step 7: Change "Between" to "Less Than"</li><br>
                                    <li>Step 8: Add "0"</li><br>
                                    <li>Step 9: In "Format with" drop down menu, select "Red Text"</li><br>
                                    <li>Step 10: Click OK</li><br>
                                </ul>
                            </div>
                        </li><br>
                        <li class="dictionary-item">
                            <div class="dictionary-video">
                                <iframe width="420" height="345" src="https://www.youtube.com/embed/EuPY1yaYx0Y">
                                </iframe>
                            </div>
                            <div class="dictionary-entry">
                                <h4>Keyboard Shortcut to Select All Continuous Cells with Data</h4>
                                <ul class="dict-entry-list">
                                    <li>Tip to select all continuous cells with data.</li><br>
                                    <li>Step 1: Click on the upper right cell.</li><br>
                                    <li>Step 2: To select all the continuous cells with data down a column.</li><br>
                                    <li>Shift + Command + Down Arrow</li><br>
                                    <li>Step 3: To then select all the continuous cells with data across columns</li>
                                    <br>
                                    <li>Shift + Command + Right Arrow</li><br>
                                </ul>
                            </div>
                        </li><br>
                        <li class="dictionary-item">
                            <div class="dictionary-video">
                                <iframe width="420" height="345" src="https://www.youtube.com/embed/r8vJ9c598Yc">
                                </iframe>
                            </div>
                            <div class="dictionary-entry">
                                <h4>Insert Pivot Table Chart</h4>
                                <ul class="dict-entry-list">
                                    <li>Insert an Excel Pivot Table Chart</li><br>
                                    <li>Step 1: Select all data in worksheet</li><br>
                                    <li>PC: Ctrl + a</li><br>
                                    <li>Mac: Command + a</li><br>
                                    <li>Step 2: Select Insert Tab in Ribbon</li><br>
                                    <li>Step 3: In Charts Group, Select PivotChart</li><br>
                                </ul>
                            </div>
                        </li>
                        <li class="dictionary-item">
                            <div class="dictionary-video">
                                <iframe width="420" height="345" src="https://www.youtube.com/embed/BtivxsTjpVw">
                                </iframe>
                            </div>
                            <div class="dictionary-entry">
                                <h4>Prepare CSV file for Word Mail Merge</h4>
                                <ul class="dict-entry-list">
                                    <li>Step 1: Open up excel</li><br>
                                    <li>Step 2: Label header row with mail merge field titles</li><br>
                                    <li>Step 3: Add information below each header row</li><br>
                                    <li><b>Note:</b> Missing information will be left blank after mail merge</li><br>
                                    <li>Step 4: Save file format as CSV</li><br>
                                </ul>
                            </div>
                        </li>
                        <li class="dictionary-item">
                            <div class="dictionary-video">
                                <iframe width="420" height="345" src="https://www.youtube.com/embed/oIBA5Rir87k">
                                </iframe>
                            </div>
                            <div class="dictionary-entry">
                                <h4>Autofit all columns in Excel Table</h4>
                                <ul class="dict-entry-list">
                                    <li>Quick and easy tip to autofit all column in an excel table, by the largest value
                                        in each column in excel.</li><br>
                                    <li>Step 1: Select the entire table. </li><br>
                                    <li>PC: Ctrl + a</li><br>
                                    <li>MAC: Command + a</li><br>
                                    <li>Step 2: Click Home Tab </li><br>
                                    <li>Step 3: In Cells Group, Select Format</li><br>
                                    <li>Step 4: Select "AutoFit Column Width"</li><br>
                                </ul>
                            </div>
                        </li>
                        <li class="dictionary-item">
                            <div class="dictionary-video">
                                <iframe width="420" height="345" src="https://www.youtube.com/embed/FAyDF6A1xIs">
                                </iframe>
                            </div>
                            <div class="dictionary-entry">
                                <h4>Autofit Columns in Excel with Mouse Click</h4>
                                <ul class="dict-entry-list">
                                    <li>Quick and easy tip to autofit a column to largest value in column in excel with
                                        a single mouse click.</li><br>
                                    <li>Step 1: Hover mouse cursor between column headers</li><br>
                                    <li>Step 2: Mouse click when double arrow appears.</li><br>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </main>
            </section>
        </div>
        <div w3-include-html="../templates/footer.html"></div>
    </div>
    <script type="text/javascript" src="../static/js/include.js"></script>
</body>

</html>