.code-block-dictionary {
    width: auto;

}

.code-block {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid red;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
  }

  code {
    background-color: #f4f4f4;
    color: black;
    font-family: monospace;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 1.6em;
  }

  .sub-title-list {
    font-weight: normal;
    font-size: 16px;
  }
  
  span {
    background-color: rgb(131, 131, 131);
    padding-inline: 5px;
  }

  .resources-ul {
    list-style-type: disc;
    font-family: sans-serif;
    color:black;
    background-color: inherit;
    list-style-position: inside;
    font-size: 16px;
  }

.resource {
  color: blue;
  padding-top:0px;
  }