/* OFFICETECH.HTM LANDING PAGE */

.title {
    margin-bottom: 30px;
}

/* Action(s) */
/* creates 2x2 grid for landing page in this section */
.sub-container {
    display: flex;
    justify-content: center;
    align-items: space-between;
}

/* Action(s) */
/* Styles a element font color to match webpage */
.sub-image-thumbnail {
  color: inherit;
  margin-bottom: 5px;
  margin-right: 10px;
  max-width: 100%;
  height: auto;
  padding-right: 30px;
}

.caption {
  text-align: center;
  font-weight: bold;
}

.sub-image-thumbnail:not(:last-child) {
    border-right: 2px solid black;
  }

.sub-entry {
    padding-top: 15px;
    font-size: 14px;
}

.sub-entry-header {
    /* margin-left: 10px; */
    margin-bottom: -10px;
}

table, th, td {
    /* margin-left: 10px; */
    border: 1px solid black;
    border-collapse: collapse;
}