/* Action(s) */
.title {
  margin-bottom: 30px;
  text-align: center;
  font-weight: bold;
}

/* Action(s) */
/* makes flex container */
main {
  display: flex;
  justify-content: center;
  align-items: top;
  padding-top: 0.5em;
  background-color: inherit;
}

/* Action(s) */
.sub-container {
  display: flex;
  justify-content: left;
}

/* Action(s) */
/* Sets image and caption */
.background-pic,
.resources,
.background-img-caption {
  margin-left: 1rem;
  text-align: left;
}

/* formats title h4 element */
.sub-title > h4 {
  font-size: 14px;
  font-weight: bold;
}

/* Formats the text section in the background area */
.general-p,
.background-info-list {
  margin-top: -1rem;
}

/* formats the background panel */
.background-panel {
  width: auto;
}

.background-title-caption {
  font-weight: bold;
}

/* formats pictures so they don't expand and overlap with other divs when screen is reduced */
.panel-pic {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

/* Action(s) */
/* Styles a element font color to match webpage */
.background-panel {
  color: inherit;
  margin-bottom: 5px;
  margin-right: 5px;
  height: auto;
  padding-right: 20px;
  padding-top: 20px;
  padding-left: 20px;
  overflow: hidden;
}

.background-info {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50;
  height: 50;
}

.caption {
  text-align: center;
  font-weight: bold;
  font-size: 22px;
}


/* CONTENT SECTION CSS */
/* Action(s) */
/* Styles a element font color to match webpage */
.sub-section-directory {
  color: inherit;
  margin-bottom: 5px;
  margin-right: 5px;
  height: auto;
  padding-right: 20px;
  padding-top: 20px;
  padding-left: 20px;
  overflow: hidden;
  border-left: solid;
}


/* Image for content section */
.dict-subheader-img > img {
  object-fit: contain;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* Styles the content section images */
/* Center the images */
.dict-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 50%; */
  object-fit: contain;
}

/* Remove the bullet point from this class */
/* Places text below image */
.dictionary-item {
  /* display: flex; */
  list-style-type: none;
  list-style: none;
}

/* Action(s) */
/* adds a styling line between subsections */
.dictionary-item:not(:last-child) {
  border-bottom: 2px solid black;
}

/* Action(s)s */
/* formats the text associated with each section */
.dictionary-entry {
  flex-grow: 1;
  padding-left: -3rem;
  padding-top: -1rem;
  padding-bottom: 1rem;
}
