/* Action(s) */
.title {
  margin-bottom: 30px;
  text-align: center;
  font-weight: bold;
}

/* Action(s) */
/* makes flex container */
main {
  display: flex;
  justify-content: center;
  align-items: top;
  padding-top: 0.5em;
  background-color: inherit;
}

/* Action(s) */
.sub-container {
  display: flex;
  justify-content: left;
}

/* Action(s) */
/* Sets image and caption */
.background-pic,
.resources,
.background-img-caption {
  margin-left: 1rem;
  text-align: left;
}

.sub-title > h4 {
  font-size: 14px;
  font-weight: bold;
}

.general-p,
.background-info-list {
  margin-top: -1rem;
}

.background-panel {
  width: auto;
}

.background-title-caption {
  font-weight: bold;
}

.panel-pic {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

/* Action(s) */
/* Styles a element font color to match webpage */
.background-panel {
  color: inherit;
  margin-bottom: 5px;
  margin-right: 5px;
  height: auto;
  padding-right: 20px;
  padding-top: 20px;
  padding-left: 20px;
  overflow: hidden;
}

/* Action(s) */
/* Styles a element font color to match webpage */
.sub-section-directory {
  max-width: 77%;
  color: inherit;
  margin-bottom: 5px;
  margin-right: 5px;
  height: auto;
  padding-right: 20px;
  padding-top: 20px;
  padding-left: 20px;
  overflow: hidden;
  border-left: solid;
}

.background-info {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50;
  height: 50;
}

.caption {
  text-align: center;
  font-weight: bold;
  font-size: 22px;
}

/* Remove the bullet point from this class */
.dictionary-item {
  display: flex;
  list-style-type: none;
  list-style: none
}

/* Action(s) */
/* adds a styling line between subsections */
.dictionary-item:not(:last-child) {
  border-bottom: 2px solid black;
}

.dict-subheader-img > img {
  object-fit: contain;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.dictionary-image > img {
  object-fit: contain;
}


  /* Action(s)s */
  /* formats the text associated with each video */
  .dictionary-entry {
    flex-grow: 1;
    padding-left: -3rem;
    padding-top: 3rem;
    padding-bottom: 1rem;
  }