/* Formats the table that contains the posts */
.post-table {
    margin-top: 0;
    font-size: 14px;
    font-size: 14px;
    margin-left: 1rem;
    margin-right: 1rem;
}

/* reduces space between the table header and the table */
.post-table-header {
    margin-bottom: -5px;
}

/* Styles table */
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.post-table-header {
    margin-left: 1rem;
    margin-bottom: 1rem;
}