.title {
    margin-bottom: 30px;
    text-align: center;
    font-weight: bold;   
}

/* Converts sub-container into a flex object, and places the images into columns, while keeping the table below */
.sub-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* Centers the pictures in a row */ 
.posts-header-pic {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

/* Formats the actual pictures */
/* Keeps them from overlapping */
.posts-header-pic > .post-pic {
  display: block;
  margin-left: 1rem;
  margin-right: 1rem;
  width: 33%;
  height: 33;
  overflow: hidden;
  object-fit: contain;
}

/* Formats the table that contains the posts */
.post-table {
    margin-top: 0;
    font-size: 14px;
    font-size: 14px;
    margin-left: 1rem;
    margin-right: 1rem;
}

/* reduces space between the table header and the table */
.post-table-header {
    margin-bottom: -5px;
}

/* Styles table */
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}