.title {
    margin-bottom: 30px;
    text-align: center;
    font-weight: bold;   
}

/* Formats the actual pictures */
/* Keeps them from overlapping */
.posts-header-pic > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50;
    height: 50;
    object-fit: contain;
}
