.title {
    margin-bottom: 30px;
    text-align: center;
    font-weight: bold;   
}

/* Action(s) */
/* creates 2x2 grid for landing page in this section */
.sub-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: space-between;
}

/* Action(s) */
/* Styles a element font color to match webpage */
.sub-image-thumbnail {
  max-width: 33%;
  color: inherit;
  margin-bottom: 5px;
  margin-right: 5px;
  height: auto;
  padding-right: 20px;
  padding-top: 20px;
  padding-left: 20px;
  overflow:hidden;
}

.pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50;
  height: 50;
}

.caption {
  text-align: center;
  font-weight: bold;
  font-size: 22px;
}

.sub-image-thumbnail:not(:last-child) {
    border-right: 2px solid black;
  }

.sub-entry {
    padding-top: 10px;
    font-size: 14px;
}

.sub-entry-header {
    margin-bottom: -5px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}