.title {
    margin-bottom: 30px;
    text-align: center;
    font-weight: bold;   
}

/* Action(s) */
/* Add flexbox functionality */
.sub-container {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;

}

/* Action(s) */
/* Styles a element font color to match webpage */
.sub-section {
  color: inherit;
  padding: 1em;
  border: solid;
}

.pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50;
  height: 50;
}

.caption {
  text-align: center;
  font-weight: bold;
  font-size: auto;
  object-fit: contain;
}

/* .sub-section:not(:last-child) {
    border-right: 2px solid black;
  } */

.sub-entry {
    padding-top: 10px;
    font-size: 14px;
}

.sub-entry-header {
    margin-bottom: -5px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.table-posts {
  width: 70%;
}

.sub-entry-header > p,
.sub-entry-header > a {
  font-size: 16px;
}